<!--########################################################-->
<!--#############[         Nav bar            ]############-->
<!--########################################################-->
<nav class="navbar navbar-dark fixed-top sw-gray">

		<a  class="sw-font-white" 
			routerLink="/{{uid}}/website/{{wid}}/page/{{pid}}/widget" >
			<i class="fas fa-chevron-left"></i>
			</a>
					
	<div class="sw-80-width">

		<a  class="sw-font-white sw-no-underline float-left" 
			routerLink="/{{uid}}/website/{{wid}}/page/{{pid}}/widget/{{wgid}}">
			Widget Edit
			</a>

	</div>

		<a  class="sw-font-white float-right" 
			routerLink="/{{uid}}/website/{{wid}}/page/{{pid}}/widget" >
			<i class="fas fa-check"></i>
		</a>
</nav>

<!--########################################################-->
<!--#############[     Switch    Rendering     ]############-->
<!--########################################################-->
<div [ngSwitch]="widget.widgetType">

	<!--#############[   HEADING  ]############-->
	<div *ngSwitchCase="'HEADING'">
				<app-widget-header></app-widget-header>
	
	</div>

	<!--#############[   IMAGE  ]############-->
	<div *ngSwitchCase="'IMAGE'">

		<app-widget-image></app-widget-image>

	</div>

	<!--#############[   YOUTUBE  ]############-->
	<div *ngSwitchCase="'YOUTUBE'">

		<app-widget-youtube></app-widget-youtube>

	</div>
</div>

<!--########################################################-->
<!--#############[       Old HTML BELOW        ]############-->
<!--########################################################-->

<footer class="navbar navbar-dark sw-gray fixed-bottom">
	<div class="sw-me">

			<a  routerLink="/user/{{uid}}" 
				class="sw-font-white float-right">
				<i class="fas fa-user "></i>
				</a>
	</div>

</footer>
			

<!-- </div>  container-fluid -->
