<!--########################################################-->	<!--#############[          NAV BAR            ]############-->	<!--########################################################-->

<nav class="navbar fixed-top navbar-light bg-primary sw-bg-grey">

		<a 	class="sw-color-black" 
			routerLink="/user/{{uid}}/website/{{wid}}/page">
			<i class="fas fa-chevron-left"></i>
			</a>

		<div class="sw-90-width">

			<a 	class="navbar-brand float-left" 
				routerLink="/user/{{uid}}/website/{{wid}}/page/new">
				<strong>New Page</strong>
				</a>
		</div>

		<button class="btn sw-button-to-a sw-color-black float-right"
				[disabled]="f.invalid" 
				type="submit" 
				form="pageForm">
				<i class="fas fa-check"></i>
				</button>

</nav>

<!--########################################################-->
<!--#############[         MAIN FORM           ]############-->
<!--########################################################-->
<div class="container-fluid">

	<form id="pageForm" (ngSubmit)="create()" #f="ngForm">

		<div class="form-group">
				<label  class="font-weight-bold"  
						for="website-name">
						<strong>Name</strong>
						</label>


				<input  class="form-control" 
						required ngModel 
						#name="ngModel" 
						type="text" 
						name="name" 
						placeholder="Please type in a page name here">
		</div>


		<div    *ngIf="name.invalid && name.touched" 
				class="alert alert-warning">
				This Name Field must be filled in
				</div>


		<div class="form-group">

			<label>	
					<strong>Description</strong>
					</label>

			<input  class="form-control" 
					ngModel 
					type="text" 
					name="description" 
					#description="ngModel" 
					placeholder="Please write about your page">
		</div>



		<button class="btn btn-success btn-block"
				[disabled]="f.invalid" 
				type="submit">
				Submit
				</button>

		<a  	class="btn btn-block btn-danger " 
				routerLink="/user/{{uid}}/website/{{wid}}/page">
				Cancel
				</a>

	</form> <!-- [END OF FORM] -->

</div>  <!-- [END OF CONTAINER] -->

<!--########################################################-->
<!--#############[          PAGE FOOTER        ]############-->
<!--########################################################-->

<footer class=" navbar  
				sw-font-white  
				bg-primary 
				fixed-bottom  
				navbar-light  
				sw-bg-grey">
				
	<div class="sw-full-width">

		<a 	class="navbar-brand float-right" 
			routerLink="/user/{{uid}}">
			<i class="fas fa-user"></i>
			</a>

	</div>
</footer>