 <!-- <app-root></app-root>  -->

 <!-- <h1> hi from app-root!</h1> -->

<!-- ################################### -->
<!-- ############[ My Pages ]########### -->
<!-- ################################### -->

<!-- ________[User]_________ -->

<!-- <app-login></app-login> -->
<router-outlet></router-outlet>

		<!-- 
		[HEADER]
		

		[TOP MODULE]
		

		[BUTTONS]
		

		[BOTTOM MODULE]
		

		[FOOTER]
		

		 -->
		 
<!-- <app-profile></app-profile> -->
<!-- <app-register></app-register> -->

<!-- ________[Page]_________ -->
<!-- <app-page-edit></app-page-edit> -->
<!-- <app-page-list></app-page-list> -->
<!-- <app-page-new></app-page-new> -->

<!-- ________[Website]_________ -->
<!-- <app-website-edit></app-website-edit> -->
<!-- <app-website-list></app-website-list> -->
<!-- <app-website-new></app-website-new> -->

<!-- ________[Widget]_________ -->
<!-- <app-widget-chooser></app-widget-chooser> -->
<!-- <app-widget-list></app-widget-list> -->
<!-- <app-widget-edit></app-widget-edit> -->

<!-- ______[youtube/header/image]_______ -->
<!-- <app-widget-header></app-widget-header> -->
<!-- <app-widget-image></app-widget-image> -->
<!-- <app-widget-youtube></app-widget-youtube> -->




