<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
    <app-root></app-root>
</div>
<!-- <div>
  <img width="400" alt="funny Dog" src="http://media.giphy.com/media/NGALQBUgvmVTa/giphy.gif">

</div>


<h1>!!! Hey ... Let me out of here !!!! </h1>
<hr>
<h2>Select a link and check it out! </h2>
<ul>

 <li>
    <h2><a target="_blank" rel="noopener" href="https://google.com/">Google Home Page</a></h2>
  </li>
   <li>
    <h2><a target="_blank" rel="noopener" href="https://youi.org/">Guess where</a></h2>
  </li>

</ul>
<div> 
        <h3> Something to read here </h3>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate natus iusto optio temporibus dolorem, dignissimos autem aspernatur magni possimus fugit, similique ipsa impedit adipisci sint, quia, dolorum voluptatem nulla! Velit?</p>
</div>
 -->
