<!--########################################################-->
<!--#############[         Nav bar            ]############-->
<!--########################################################-->
<nav class="navbar navbar-dark fixed-top navbar-light sw-bg-grey">

		<a  class="sw-font-white" 
			routerLink="/user/{{uid}}/website/{{wid}}/page/{{pid}}/widget">
			<i class="fas fa-chevron-left"></i>
			</a>
					
		<div class="sw-90-width"> <!--  was 80 now 90 -->
				<a  class="navbar-brand sw-font-white sw-no-underline float-left" 
					routerLink="/user/{{uid}}/website/{{wid}}/page/{{pid}}/widget/new">
					<strong>Edit Widget</strong>
					</a>
		</div>

		<button     class="btn sw-button-to-a  sw-color-black sw-font-white float-right"
					type="submit"
					form="widgetForm">
					<i class="fas fa-check"></i>
					</button>
</nav>


<div class="container-fluid">
<!--########################################################-->
<!--#############[       Widget Form          ]############-->
<!--########################################################-->
<form 	id="widgetForm" 
		(ngSubmit)="update()"
		#f="ngForm">
				
	<div class="form-group">

		<label  for="name">NAME</label>
		<input  class="form-control"
				name="name"
				type="text" 
				ngModel="{{widget.name}}"
				#name="ngModel"
				placeholder="Please enter a widget name here">
	</div>

	<div class="form-group">

		<label for="text">TEXT</label>
		<input  class="form-control" 
				type="text" 
				name="text"  
				placeholder="Top US News Headlines">
	</div>

	<div class="form-group">

		<label for="size">SIZE</label>
		<input  class="form-control"
				type="number" 
				name="size"   
				placeholder="example something like 3">
	</div>


	<!--#############[ DELETE Button  ]############-->
	<div>
		<a  class="btn btn-danger btn-block" 
			routerLink="/user/{{uid}}/website/{{wid}}/page/{{pid}}/widget">
			DELETE
			</a>
	</div>

</form>
</div>  <!-- container-fluid -->		
<!--########################################################-->
<!--#############[        footer Icon          ]############-->
<!--########################################################-->
<footer class="navbar navbar-dark sw-gray fixed-bottom">
	<div class="sw-me">
			<a  class="sw-font-white float-right"
				routerLink="/user/uid" >
				<i class="fas fa-user "></i>
				</a>
	</div>
</footer>
			

