
		<nav class="navbar navbar-dark fixed-top sw-gray">

					<a routerLink="/user/:uid/website" class="sw-font-white"><i class="fas fa-chevron-left"></i></a>
					
					<div class="sw-80-width">
						<a class="sw-font-white sw-no-underline float-left" routerLink="/uid/website/:wid/page/:pid/widget/new">Choose Widget</a>
					</div>

					<a routerLink="user/:uid/website" class="sw-black float-right">
						                             <i class="fas fa-check"></i><uid/website/:wid/page/:pid/widget/new

				<!--########################################################-->
				<!--#############[          UL List            ]############-->
				<!--########################################################-->

			<div class="container-fluid">

				<!-- ul List -->
				<ul>

					<div>
						<li>
							<a class="sw-no-underline float-left" routerLink="/widget-heading">Header</a>
							<i class="fas fa-check float-right"></i>
						</li>
					</div>
					<!--#############[________ Page Devider_________]############-->
				<div class="progress progress-striped active">
  					<div class="bar" style="width: 40%;"></div>
				</div>
					<div>
						<li>
							<a class="sw-no-underline float-left" routerLink="/uid/website/:wid/page/:pid/widget/new">lable</a>
							<i class="fas fa-check float-right"></i>
						</li>
					</div>
					<!--#############[________ Page Devider_________]############-->
				<div class="progress progress-striped active">
  					<div class="bar" style="width: 40%;"></div>
				</div>
					<div>
						<li>
							<a class="sw-no-underline float-left" routerLink="/uid/website/:wid/page/:pid/widget/new">HTML</a>
							<i class="fas fa-check float-right"></i>
						</li>
					</div>
					<!--#############[________ Page Devider_________]############-->
				<div class="progress progress-striped active">
  					<div class="bar" style="width: 40%;"></div>
				</div>
					<div>
						<li>
							<a class="sw-no-underline float-left" routerLink="/uid/website/:wid/page/:pid/widget/new">Text Input</a>
							<i class="fas fa-check float-right"></i>
						</li>
					</div>
					<!--#############[________ Page Devider_________]############-->
				<div class="progress progress-striped active">
  					<div class="bar" style="width: 40%;"></div>
				</div>
					<div>
						<li>
							<a class="sw-no-underline float-left" routerLink="/uid/website/:wid/page/:pid/widget/new">Link</a>
							<i class="fas fa-check float-right"></i>
						</li>
					</div>
					<!--#############[________ Page Devider_________]############-->
				<div class="progress progress-striped active">
  					<div class="bar" style="width: 40%;"></div>
				</div>
					<div>
						<li>
							<a class="sw-no-underline float-left" routerLink="/uid/website/:wid/page/:pid/widget/new">Button</a>
							<i class="fas fa-check float-right"></i>
						</li>
					</div>
					<div>
						<li>
							<a class="sw-no-underline float-left" routerLink="/widget-image">Image</a>
							<i class="fas fa-check float-right"></i>
						</li>
					</div>
					<!--#############[________ Page Devider_________]############-->
				<div class="progress progress-striped active">
  					<div class="bar" style="width: 40%;"></div>
				</div>
					<div>
						<li>
							<a class="sw-no-underline float-left" routerLink="/widget-youtube">Youtube</a>
							<i class="fas fa-check float-right"></i>
						</li>
					</div>
					<!--#############[________ Page Devider_________]############-->
				<div class="progress progress-striped active">
  					<div class="bar" style="width: 40%;"></div>
				</div>
					<div>
						<li>
							<a class="sw-no-underline float-left" routerLink="/uid/website/:wid/page/:pid/widget/new">Data Table</a>
							<i class="fas fa-check float-right"></i>
						</li>
					</div>
					<!--#############[________ Page Devider_________]############-->
				<div class="progress progress-striped active">
  					<div class="bar" style="width: 40%;"></div>
				</div>
					<div>
						<li>
							<a class="sw-no-underline float-left" routerLink="/uid/website/:wid/page/:pid/widget/new">Repeater</a>
							<i class="fas fa-check float-right"></i>
						</li>
					</div>

				</ul>
				


				<!--########################################################-->
				<!--#############[        footer Icon          ]############-->
				<!--########################################################-->

			<!-- footer -->
			<nav class="navbar navbar-dark sw-gray fixed-bottom">
				<div class="sw-me">
					<a routerLink="/user/uid:" class="sw-font-white float-right"><i class="fas fa-user "></i></a>
				</div>
			</nav>
			

		</div>  <!-- container-fluid -->