	
<!--############################################################################################-->
<!--##########################[             NAV SECTION               ]#########################-->
<!--############################################################################################-->
<nav class="row navbar navbar-dark fixed-top bg-primary ">

				<!--########################################################-->
				<!--#############[       [ LEFT ] SIDE         ]############-->
				<!--########################################################-->

	<div class="container-fluid">

	<div class="col-sm-4 d-none d-md-block">

				<!-- <i class="fa-chevron-left "></i> -->

			<a  class="sw-color-white" 
				routerLink="/user/{{uid}}/website">
				<i class="fas fa-chevron-left"></i>
				</a>

			<a  class="sw-color-white sw-left-padding" 
				routerLink="/user/{{uid}}/website">
				<strong>Websites</strong>
				</a>

			<a  class="sw-color-white float-right" 
				routerLink="/user/{{uid}}/website/new">
				<i class="fas fa-plus"></i>
				</a>

				<!-- <i class="fas fa-check"></i> -->
				<!-- fa-chevron-left -->
				<!-- fas fa-plus -->

	</div>
				<!--########################################################-->
				<!--#############[       [ RIGHT ] SIDE        ]############-->
				<!--########################################################-->

	<div class="col-md-8">

			<a  class="sw-color-white" 
				routerLink="/user/{{uid}}/website/new">
				<strong>New Website</strong>
				</a>

			<!-- <i class="fas fa-plus"></i>	 -->
			<button class="btn sw-color-white float-right sw-button" 
					type="submit" 
					form="websiteForm" 
					[disabled]="f.invalid">
					<i class="fas fa-check"></i>
					</button>
	</div>


	</div>  <!-- [END CONTAINER] -->

</nav> <!-- [END NAV SECTION] -->

<!--############################################################################################-->
<!--##########################[             MID SECTION               ]#########################-->
<!--############################################################################################-->

<div class="row">  <!-- [ROW]___________________________ -->

				<!--########################################################-->
				<!--#############[ [ LEFT ] SIDE WEBSITE LIST  ]############-->
				<!--########################################################-->

				<!-- _______________TOP OF UL GROUP________________ -->
<div class="col-md-4 d-none d-md-block">

	<div class="container-fluid">

				<ul class="list-group">

					<li class="list-group-item" 
						*ngFor ="let website of websites">

						<a  routerLink="/user/{{uid}}/website/{{website._id}}/page">
							{{website.name}}
							</a>

						<a  class="float-right" 
							routerLink="/user/{{uid}}/website/{{website._id}}">
							<i class="fas fa-cog"></i>
							</a>

					</li>
				</ul>

	</div>   <!-- [END CONTAINER] -->

				<!--########################################################-->
				<!--#############[ [ RIGHT ] SIDE WEBSITE LIST  ]############-->
				<!--########################################################-->
<div class="col-md-8">

	<div class="container-fluid">

		<form   id="websiteForm" 
				(ngSubmit)="create()" #f="ngForm">

			<div class="form-group">

						<label><strong>Name</strong></label>

						<input  class="form-control" 
								type="text" 
								name="name" 
								placeholder="Write your website name here" 
								required ngModel #name="ngModel">

			</div>


					<div    class="alert alert-warning" 
							*ngIf="name.invalid && name.touched">
							This Field must be filled in!
							</div>

			<div class="form-group">

					<label><strong>Description</strong></label>

					<textarea   rows="8" 
								class="form-control" 
								name="description" 
								placeholder="Write about your website here." 
								ngModel #description="ngModel">
								</textarea>

			</div>

					<a  routerLink="/user/{{uid}}/website" 
						class="btn btn-danger">
						Cancel
						</a>


					<button [disabled]="f.invalid" 
							type="submit" 
							class="btn btn-success float-right">
							Submit
							</button>

		</form>   <!-- [END OF FORM] -->

	</div><!-- [END CONTAINER] -->
</div><!-- [END ROW]_________________________________________ -->

</div>  <!-- [END OF ROW] -->
<!--############################################################################################-->
<!--##########################[             FOOTER  SECTION           ]#########################-->
<!--############################################################################################-->


<footer class="navbar fixed-bottom navbar-dark bg-primary">

		<div class="sw-full-width">

			<a  class="navbar-brand float-right" 
				routerLink="/user/:uid">
				<i class="fas fa-user"></i>
				</a>

		</div>
</footer>




